<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
	</head>
	<body class="bg-gray-400">
		<h1 class="text-2xl font-bold bg-gray-400 text-center">Responsive Post Card</h1>
		<section>
			<div class="card flex flex-col md:flex-row  mx-10 bg-white rounded-xl">
				<img class="tumbnail shadow-2xl" height="500"  width="200" src="https://img.certbug.com/2022/QQ%E6%88%AA%E5%9B%BE20221003185756.png" alt="">
				<div class="mx-auto">
					<div class="top">Top</div>
					<div class="middle">Middle</div>
					<div class="bottom">Bottom</div>
				</div>
			</div>
		</section>
	
	
	</body>
</html>