<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="new_file.css">
</head>

<body>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="./new_file.css">
        <style>

        </style>
    </head>

    <body>
        <div class="my-96 flex   antialiased">
            <!-- card -->
            <div class="flex bg-gradient-to-tr from-blue-100  to-blue-200 rounded-xl shadow-lg">
                <div class="flex  bg-white rounded shadow-md lg:h-64 h-96 relative  flex-shrink-0 ">
                    <img src="https://tva4.sinaimg.cn/large/007X0Rdygy1ghm2u8yvhdj30sg0g0gp1.jpg" alt=""
                        class="hidden lg:inline-block w-80">
                </div>
                <div class="flex  bg-white rounded shadow-md h-96 lg:h-64 lg:w-96 flex-col relative w-72 flex-shrink-0">
                    <div class="lg:my-10 ">
                        <img class="lg:hidden" src="https://tva4.sinaimg.cn/large/007X0Rdygy1ghm2u8yvhdj30sg0g0gp1.jpg"
                            alt="">
                        <div class="py-8 px-6 to-gray-700 flex-1">
                            <h2 class="text-black font-extrabold text-2xl tracking-wide leading-none">欢迎访问&博客、主题说明</h2>
                            <h3 class="text-sm mt-2 text-gray-500">Men's Bacing Shoe</h3>
                            <div class="article-meta-wrap text-sm pt-2 text-gray-500">
                                <span class="article-meta text-sm text-orange-600">
                                    <i class="fa fa-thumb-tack pr-2"></i>
                                    <span>置顶</span>
                                    <span class="px-2 text-gray-500">|</span>
                                </span>
                                <span class="post-meta-date">
                                    <i class="fa fa-calendar pr-2"></i>
                                    <span>发表于 2021-05-18</span>
                                    <span class="px-2 text-gray-500">|</span>
                                </span>
                                <span class="post-meta-date">
                                    <i class="fa fa-history pr-2"></i>
                                    <span>更新于 2022-10-21</span>
                                    <span class="px-2 text-gray-500">|</span>
                                </span>
                                <span class="article-meta">
                                    <i class="fa fa-inbox pr-2"></i>
                                    <span>默认分类</span>
                                    <span class="px-2 text-gray-500">|</span>
                                </span>
                                <span class="article-meta">
                                    <i class="fa fa-paper-plane pr-2"></i>
                                    <span>作者：Cheny</span>
                                    <span class="px-2 text-gray-500">|</span>
                                </span>
                                <span class="article-meta">
                                    <i class="fa fa-comments pr-2"></i>
                                    <span>107 条评论</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

    </html>
</body>

</html>